<!DOCTYPE html>
<html>
<head>
<title>Authorize</title>
  
  
<script src="https://code.jquery.com/jquery-1.7.1.min.js"></script>
<script src="https://api.trello.com/1/client.js?key=910aeb0b23c2e63299f8fb460f9bda36"></script>
<script src="./js/auth.js"></script>
<script>
    var templateBoardId = "<%= templateBoardId %>" 
    var templateListName = "<%= templateListName %>" 
    var model = "<%= webhookModel %>" 
  
</script>
</head>
<body>

<h1>NodeJS Webhook</h1>
  
  <p id="p">
    
  </p>
<a href="/settings.html">Click here to continue</a>

<span id="status" style="display:none"></span>
</body>
</html>